altgraph==0.17.4
appdirs==1.4.4
asttokens==2.4.1
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
ipdb==0.13.13
ipython==8.22.2
jedi==0.19.1
macholib==1.16.3
matplotlib-inline==0.1.6
modulegraph==0.19.6
numpy==1.26.4
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
py2app==0.28.7; sys_platform == "darwin"
PyGetWindow==0.0.9
Pygments==2.17.2
pyobjc-core==10.2; sys_platform == "darwin"
pyobjc-framework-Cocoa==10.2; sys_platform == "darwin"
pyobjc-framework-Quartz==10.2; sys_platform == "darwin"
PyRect==0.2.0
pywin32==306; sys_platform == "win32"
python-rtmidi==1.5.8
six==1.16.0
stack-data==0.6.3
tk==0.1.0
tomli==2.0.1
traitlets==5.14.2
wcwidth==0.2.13
wxPython==4.2.1
tomlkit==0.12.4
